* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  justify-content: center;
}

content {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
}

footer {
  bottom: 0;
}

.layout {
  min-height: 100vh;
}

.homescreen {
  /* padding: 10px; */
  /* height: 100vh; */
}

.grid-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 96px 190px 0px 190px;
}

/* .homescreen {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  margin-left: 190px;
  margin-right: 190px;
} */

/* original */
/* .homescreen {
  text-align: center;
  display: grid;
  flex: 1 0;
  grid-template-columns: auto auto;
  grid-row: auto auto;
  grid-column-gap: 10%;
  grid-row-gap: 10%;
  margin: auto auto;
  width: 100vw;
  height: auto;
} */

.link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 366px;
  border-style: solid;
  border-color: black;
  background-color: skyblue;
  margin-bottom: 88px;
}

.home-link {
  flex: 1 0 auto;
  color: black;
  font-family: cursive;
  text-decoration: none;
}

.cover-image {
  width: 100%;
}

nav {
  background-color: #7C7C7C;
  /* width: 100vw; */
  height: 56px;
  display: flex;
}

.nav-links-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  justify-content: flex-start;
}

.nav-link {
  display: flex;
  margin-left: 50px;
  text-decoration: none;
  color: white;
}

#ecoviz {
  font-weight: bold;
}