.trash-img-carousel-container img {
  max-height: 500px;
}

.commute-img-carousel-container img {
  max-height: 500px;
}

.diet-img-carousel-container img {
  max-height: 500px;
}

.lights-img-carousel-container img {
  max-height: 500px;
}